<div class="container-fluid mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center mb-4">Add Student</h2>
            <form method="POST" action="/students/add">
                <fieldset>
                    <legend>Personal Information</legend>
                    <div class="form-group">
                        <label for="studentNum">Student Number:</label>
                        <input class="form-control" id="studentNum" name="studentNum" type="text" required>
                    </div>
                    <div class="form-group">
                        <label for="firstName">First Name:</label>
                        <input class="form-control" id="firstName" name="firstName" type="text" required>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name:</label>
                        <input class="form-control" id="lastName" name="lastName" type="text" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input class="form-control" id="email" name="email" type="email" required>
                    </div>
                    <div class="form-group">
                        <label for="addressStreet">Street:</label>
                        <input class="form-control" id="addressStreet" name="addressStreet" type="text">
                    </div>
                    <div class="form-group">
                        <label for="addressCity">City:</label>
                        <input class="form-control" id="addressCity" name="addressCity" type="text">
                    </div>
                    <div class="form-group">
                        <label for="addressProvince">Province:</label>
                        <input class="form-control" id="addressProvince" name="addressProvince" type="text">
                    </div>
                    <div class="form-group">
                        <label for="status">Status:</label>
                        <select class="form-control" id="status" name="status">
                            <option value="Full Time">Full Time</option>
                            <option value="Part Time">Part Time</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="TA">Teaching Assistant:</label>
                        <select class="form-control" id="TA" name="TA">
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Academic Information</legend>
                    <div class="form-group">
                        <label for="course">Course:</label>
                        <select class="form-control" id="course" name="course">
                            <% if (courses.length > 0) { %>
                                <% courses.forEach(c => { %>
                                    <option value="<%= c.courseId %>"><%= c.courseCode %> - <%= c.courseDescription %></option>
                                <% }) %>
                            <% } else { %>
                                <option disabled>No courses found</option>
                            <% } %>
                        </select>
                    </div>
                </fieldset>
                <button class="btn btn-primary btn-block mt-3" type="submit">Add Student</button>
            </form>
        </div>
    </div>
</div>
